body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    background-image: url('Bilder/backgroundd.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

.anfang {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-family: 'Arial';
    background: linear-gradient(to bottom, purple , white, black);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

